<div class="container-fluid p-3">
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center text-center text-light">
      <h3>COB Clothing</h3>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-light btn-lg" routerLink="/home">Home</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-light btn-lg" routerLink="/store">Store</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-light btn-lg" routerLink="/about">About</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-light btn-lg" routerLink="/cart">Cart</button>
    </div>
  </div>
</div>
